input[type="file"] {
   display: none;
}

.file {
   border: 1px solid #c1c1c1;
   background: rgb(242, 242, 242);
   border-radius: 8px;
   display: inline-block;
   padding: 8px 12px;
   text-align: center;
   cursor: pointer;
}

.path {
   text-align: center;
   font-weight: 400;
   font-size: 0.8rem;
}
