.intro-block {
   display: flex;
   flex-direction: column;
   width: 500px;
   align-items: center;
   gap: 20px;

   @media (max-width: 580px) {
      width: 100%;
   }
}

.intro-text {
   text-align: center;
   font-size: 25px;
   margin-top: 40px;
   color: black;
}
